<a href="https://colab.research.google.com/github/relfarizi/Stream_Payment/blob/master/Tugas_MCE_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Perhitungan Dana Pensiun

### Convert Rupiah ( Trial and Still not working for some Case )

In [0]:
def rupiah(uang) :
  rp = str(uang)[::-1]
  count = 0
  rupiah = "Rp."
  y =""
  x = 0
  li = []
  li_t = []

  #print(len(rp))
  for i in rp:
    if x == 3 :
      #print("sini")
      li.append(li_t)
      x = 0
      li_t = [i]
    else :  
      #print("uye")
        li_t.append(i)
    x+=1
    count+=1
    #print(count)

  li_t = []
  for j in rp[-2:]:
    li_t.append(j)
  li.append(li_t)
  print(li)
  for n in li :
    for m in n :
      y = m + y
    y = '.' + y
  y = "Rp" + y
  return y

### Convert Waktu

Melakukan konversi terhadap rentang waktu yang diberikan. diberikan contoh dengann kasus

---
Misal :
* bulan Sekarang = Januari 2020
* bulan pensiun = Juli 2020
* bulan akhir pensiun = Desember 2020
---
Maka setoran dilakukan hanya sampai bulan Juni 2020, yaitu sebanyak 6 kali. Dan pembayaran selama masa pensiun adalah 6 kali terhitung sejak Juli 2020 sampai Desember 2020.

In [0]:
def bayar(bulan_awal,tahun_awal,bulan_akhir,tahun_akhir):
  bulan_awal = bulan_awal[:3].lower()
  bulan_akhir = bulan_akhir[:3].lower()

  x = {"jan" : 1, "feb" : 2, "mar" : 3, "apr" : 4,"mei" : 5,"jun" : 6 , "jul" : 7, "agu" : 8 , "sep" : 9, "okt" : 10 , "nov" : 11 , "des" : 12}

  ## case tahun sama

  if tahun_awal == tahun_akhir :
    if x[bulan_awal] >= x[bulan_akhir] :
      return -1
    else :
      return x[bulan_akhir]-x[bulan_awal]+1 
  
  ## case tahun beda
  
  elif tahun_awal < tahun_akhir :
    if x[bulan_awal] >= x[bulan_akhir] :
      return (12-x[bulan_awal]+1) + ((tahun_akhir-tahun_awal-1)*12) + x[bulan_akhir]
    else :
      return (12-x[bulan_awal]+1)+ ((tahun_akhir-tahun_awal-1)*12) + (x[bulan_akhir]-x[bulan_awal]+1)
  else :
    return -1


## Input
---

![alt text](https://drive.google.com/uc?id=1rHcI4j62c7Kmef7tLNbgKANM0iclH123)

---

### Interval Waktu (m dan n)

---
* **bulan_sekarang**  = Bulan pada saat dilakukan perhitungan (sekarang)
* **tahun_sekarang**  = Tahun pada saat dilakukan perhitungan (sekarang)
* **bulan_pensiun**   = Bulan pada saat dimulainya masa pensiun
* **tahun_pensiun**   = Bulan pada saat dimulainya masa pensiun
* **bulan_akhir**     = Bulan pada saat selesainya masa pensiun
* **tahun_akhir**     = Bulan pada saat selesainya masa pensiun
---
Sehingga dihasilkan :
* **m** = banyaknya pembayaran selama masa pensiun (dalam bulan) 
* **n** = banyaknya setoran yang harus dilakukan (dalam bulan)
---

In [0]:
#@title Input { run: "auto", output-height: 10, form-width: "700px", display-mode: "both" }
bulan_sekarang = "Januari" #@param ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"]
tahun_sekarang = 2020#@param {type:"slider", min:2020, max:2100, step:1}
bulan_pensiun = "Juni" #@param ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"]
tahun_pensiun = 2020 #@param {type:"slider", min:2020, max:2100, step:1}
bulan_akhir = "Desember" #@param ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"]
tahun_akhir = 2020 #@param {type:"slider", min:2020, max:2100, step:1}


if tahun_pensiun >= tahun_sekarang and tahun_pensiun <= tahun_akhir :
  m = int(bayar(bulan_pensiun,tahun_pensiun,bulan_akhir,tahun_akhir))
  n = int(bayar(bulan_sekarang,tahun_sekarang,bulan_pensiun,tahun_pensiun) - 1)
else :
  m = -1
  n = -1

step = n
steps = m
print("m =", m)
print("n = ",n)

m = 7
n =  5

### Suku Bunga (r)

In [0]:
#@title Suku Bunga ( % ) { run: "auto",form-width: "700px", display-mode: "both" }
r =  5#@param {type:"number"}

print("suku bunga pertahun = ", r,"%")

r = r/12

print("suku bunga perbulan = ",r,"%")

r = r/100

suku bunga pertahun =  5 %
suku bunga perbulan =  0.4166666666666667 %

### Besarnya Pembayaran Tetap ( C )

In [0]:
#@title Pembayaran tetap{ run: "auto",form-width: "700px", display-mode: "both"}
C =  10000000#@param {type:"number"}

#C = 178525.81

if C > 0 :
  print("Besar Pembayaran Tetap = ",(C))
else :
  print("Tidak boleh negatif")

Besar Pembayaran Tetap =  10000000

## Stream Payment
---
![alt text](https://drive.google.com/uc?id=1fHxyIiw0GL_zX7HdjFq1R2pDdym6e9vc)
Wrong !
--- 
---
![alt text](https://drive.google.com/uc?id=1_aHqv3vwzSQawXknbn3p_gzltmjo03pu)
---
---
![alt text](https://drive.google.com/uc?id=11JJsdpDyLCjq-m7j17oekR1N3LaszsZi)
---
---
Proses 



>



1. periksa apakah nilai **m** dan **n** memenuhi (lebih dari 0), jika **ya** : 

> 1. Cari nilai *Present Value Anuitas* dengan menggunakan rumus yang diberikan di atas
2. Cari nilai P yang didapat dari hasil perkalian **C** dengan **PA**
3. Didapatkan nilai **S** dari hasil pembagian **P** terhadap **n**

2. jika **tidak**, maka tidak bisa dilanjutkan

In [0]:
list_pay = []
n = step
turun = 1
while n > 0 :
  m = steps
  while m > 0 :
    if m > 0 and n > 0 :

      # Proses 1

      PA = (1-(pow((1+r),-1*(m)))) / r
      PA = round(PA,4)
      

      # Proses 2

      P = C*PA
      P = round(P,2)
      
      # Proses 3

      #S = P/n
      # Proses 3 Revisi

      S = P/(1+r)**(n)
      S = S/n
      S = round(S,2)

      # Mmenghitung total uang disetor

      total = S*n
      
      print(S)
      #print("n = ",n)
      #print(PA)

      list_pay.append([r*12*100,PA,S,n,total,P,C,m,C*m,C*m-total])
    else :
        print("Tahun Pensiun <= Tahun Sekarang")
    m -= turun
  n -= turun



print(list_pay)

13486284.59
11583654.42
9672992.96
7754496.11
5827967.98
3893408.56
1950817.86
16928096.81
14539899.56
12141621.37
9733508.14
7315313.97
4887038.87
2448682.84
22664840.72
19467309.96
16256281.95
13032085.9
9794392.59
6543202.04
3278514.25
34138916.34
29322635.63
24486024.69
19629579.38
14752803.84
9855698.08
4938262.08
68562323.65
58889626.56
49176099.59
39422738.59
29628547.72
19793526.97
9917676.35
[[5.0, 6.8848, 13486284.59, 5, 67431422.95, 68848000.0, 10000000, 7, 70000000, 2568577.049999997], [5.0, 5.9135, 11583654.42, 5, 57918272.1, 59135000.0, 10000000, 6, 60000000, 2081727.8999999985], [5.0, 4.9381, 9672992.96, 5, 48364964.800000004, 49381000.0, 10000000, 5, 50000000, 1635035.1999999955], [5.0, 3.9587, 7754496.11, 5, 38772480.550000004, 39587000.0, 10000000, 4, 40000000, 1227519.4499999955], [5.0, 2.9752, 5827967.98, 5, 29139839.900000002, 29752000.0, 10000000, 3, 30000000, 860160.0999999978], [5.0, 1.9876, 3893408.56, 5, 19467042.8, 19876000.0, 10000000, 2, 20000000, 532957.1999999993], [5.0, 0.9959, 1950817.86, 5, 9754089.3, 9959000.0, 10000000, 1, 10000000, 245910.69999999925], [5.0, 6.8848, 16928096.81, 4, 67712387.24, 68848000.0, 10000000, 7, 70000000, 2287612.7600000054], [5.0, 5.9135, 14539899.56, 4, 58159598.24, 59135000.0, 10000000, 6, 60000000, 1840401.759999998], [5.0, 4.9381, 12141621.37, 4, 48566485.48, 49381000.0, 10000000, 5, 50000000, 1433514.5200000033], [5.0, 3.9587, 9733508.14, 4, 38934032.56, 39587000.0, 10000000, 4, 40000000, 1065967.4399999976], [5.0, 2.9752, 7315313.97, 4, 29261255.88, 29752000.0, 10000000, 3, 30000000, 738744.120000001], [5.0, 1.9876, 4887038.87, 4, 19548155.48, 19876000.0, 10000000, 2, 20000000, 451844.51999999955], [5.0, 0.9959, 2448682.84, 4, 9794731.36, 9959000.0, 10000000, 1, 10000000, 205268.6400000006], [5.0, 6.8848, 22664840.72, 3, 67994522.16, 68848000.0, 10000000, 7, 70000000, 2005477.8400000036], [5.0, 5.9135, 19467309.96, 3, 58401929.88, 59135000.0, 10000000, 6, 60000000, 1598070.1199999973], [5.0, 4.9381, 16256281.95, 3, 48768845.849999994, 49381000.0, 10000000, 5, 50000000, 1231154.150000006], [5.0, 3.9587, 13032085.9, 3, 39096257.7, 39587000.0, 10000000, 4, 40000000, 903742.299999997], [5.0, 2.9752, 9794392.59, 3, 29383177.77, 29752000.0, 10000000, 3, 30000000, 616822.2300000004], [5.0, 1.9876, 6543202.04, 3, 19629606.12, 19876000.0, 10000000, 2, 20000000, 370393.87999999896], [5.0, 0.9959, 3278514.25, 3, 9835542.75, 9959000.0, 10000000, 1, 10000000, 164457.25], [5.0, 6.8848, 34138916.34, 2, 68277832.68, 68848000.0, 10000000, 7, 70000000, 1722167.3199999928], [5.0, 5.9135, 29322635.63, 2, 58645271.26, 59135000.0, 10000000, 6, 60000000, 1354728.740000002], [5.0, 4.9381, 24486024.69, 2, 48972049.38, 49381000.0, 10000000, 5, 50000000, 1027950.6199999973], [5.0, 3.9587, 19629579.38, 2, 39259158.76, 39587000.0, 10000000, 4, 40000000, 740841.2400000021], [5.0, 2.9752, 14752803.84, 2, 29505607.68, 29752000.0, 10000000, 3, 30000000, 494392.3200000003], [5.0, 1.9876, 9855698.08, 2, 19711396.16, 19876000.0, 10000000, 2, 20000000, 288603.83999999985], [5.0, 0.9959, 4938262.08, 2, 9876524.16, 9959000.0, 10000000, 1, 10000000, 123475.83999999985], [5.0, 6.8848, 68562323.65, 1, 68562323.65, 68848000.0, 10000000, 7, 70000000, 1437676.349999994], [5.0, 5.9135, 58889626.56, 1, 58889626.56, 59135000.0, 10000000, 6, 60000000, 1110373.4399999976], [5.0, 4.9381, 49176099.59, 1, 49176099.59, 49381000.0, 10000000, 5, 50000000, 823900.4099999964], [5.0, 3.9587, 39422738.59, 1, 39422738.59, 39587000.0, 10000000, 4, 40000000, 577261.4099999964], [5.0, 2.9752, 29628547.72, 1, 29628547.72, 29752000.0, 10000000, 3, 30000000, 371452.2800000012], [5.0, 1.9876, 19793526.97, 1, 19793526.97, 19876000.0, 10000000, 2, 20000000, 206473.0300000012], [5.0, 0.9959, 9917676.35, 1, 9917676.35, 9959000.0, 10000000, 1, 10000000, 82323.65000000037]]

## Output

In [0]:
import pandas as pd

df_pay = pd.DataFrame(list_pay)
df_pay.columns = ["Suku bunga (%)","PA","Setoran Perbulan","n Setoran","Total Uang Disetor","nilai P","Uang didapat perbulan","m Pembayaran","total Uang Didapat","selisih"]
df_pay

    Suku bunga (%)      PA  ...  total Uang Didapat     selisih
0              5.0  6.8848  ...            70000000  2568577.05
1              5.0  5.9135  ...            60000000  2081727.90
2              5.0  4.9381  ...            50000000  1635035.20
3              5.0  3.9587  ...            40000000  1227519.45
4              5.0  2.9752  ...            30000000   860160.10
5              5.0  1.9876  ...            20000000   532957.20
6              5.0  0.9959  ...            10000000   245910.70
7              5.0  6.8848  ...            70000000  2287612.76
8              5.0  5.9135  ...            60000000  1840401.76
9              5.0  4.9381  ...            50000000  1433514.52
10             5.0  3.9587  ...            40000000  1065967.44
11             5.0  2.9752  ...            30000000   738744.12
12             5.0  1.9876  ...            20000000   451844.52
13             5.0  0.9959  ...            10000000   205268.64
14             5.0  6.8848  ...            70000000  2005477.84
15             5.0  5.9135  ...            60000000  1598070.12
16             5.0  4.9381  ...            50000000  1231154.15
17             5.0  3.9587  ...            40000000   903742.30
18             5.0  2.9752  ...            30000000   616822.23
19             5.0  1.9876  ...            20000000   370393.88
20             5.0  0.9959  ...            10000000   164457.25
21             5.0  6.8848  ...            70000000  1722167.32
22             5.0  5.9135  ...            60000000  1354728.74
23             5.0  4.9381  ...            50000000  1027950.62
24             5.0  3.9587  ...            40000000   740841.24
25             5.0  2.9752  ...            30000000   494392.32
26             5.0  1.9876  ...            20000000   288603.84
27             5.0  0.9959  ...            10000000   123475.84
28             5.0  6.8848  ...            70000000  1437676.35
29             5.0  5.9135  ...            60000000  1110373.44
30             5.0  4.9381  ...            50000000   823900.41
31             5.0  3.9587  ...            40000000   577261.41
32             5.0  2.9752  ...            30000000   371452.28
33             5.0  1.9876  ...            20000000   206473.03
34             5.0  0.9959  ...            10000000    82323.65

[35 rows x 10 columns]

## Extension

In [0]:
import numpy as np
df_pay = df_pay.sort_values("selisih", ascending = False)

#maximum = np.amax(df_pay["selisih"])
#df_pay = df_pay.where((df_pay["Setoran Perbulan"]>bottom) & (df_pay["Setoran Perbulan"] < up))
#df_pay = df_pay.where(df_pay["selisih"] == maximum)

df_pay = df_pay.dropna()

#df_pay = df_pay.sort_values("Setoran Perbulan", ascending = False)
df_pay.head(20)

    Suku bunga (%)      PA  ...  total Uang Didapat      selisih
28             5.0  6.8848  ...            70000000   1437676.35
29             5.0  5.9135  ...            60000000   1110373.44
30             5.0  4.9381  ...            50000000    823900.41
31             5.0  3.9587  ...            40000000    577261.41
32             5.0  2.9752  ...            30000000    371452.28
33             5.0  1.9876  ...            20000000    206473.03
34             5.0  0.9959  ...            10000000     82323.65
27             5.0  0.9959  ...            10000000  -9753048.32
26             5.0  1.9876  ...            20000000 -19422792.30
20             5.0  0.9959  ...            10000000 -19506628.22
25             5.0  2.9752  ...            30000000 -29011215.38
13             5.0  0.9959  ...            10000000 -29178925.44
24             5.0  3.9587  ...            40000000 -38518317.52
6              5.0  0.9959  ...            10000000 -38770446.60
19             5.0  1.9876  ...            20000000 -38888818.39
23             5.0  4.9381  ...            50000000 -47944098.76
22             5.0  5.9135  ...            60000000 -57290542.52
18             5.0  2.9752  ...            30000000 -58149533.34
12             5.0  1.9876  ...            20000000 -58192621.92
21             5.0  6.8848  ...            70000000 -66555665.36

[20 rows x 10 columns]

In [0]:
import math

# bulan
x = 15

x = math.ceil(x/6)
print("n =",x)

# jatuh tempo tahun
y = 2

y = y*12

n = 3